add service tnt001-usw1adi-001-001 10.51.58.13 TCP 389 -gslb NONE -maxClient 0 -maxReq 0 -cip DISABLED -usip NO -useproxyport YES -sp OFF -cltTimeout 9000 -svrTimeout 9000 -CustomServerID "\"None\"" -CKA NO -TCPB NO -CMP NO 
add service tnt001-usw1adi-001-002 10.51.59.13 TCP 389 -gslb NONE -maxClient 0 -maxReq 0 -cip DISABLED -usip NO -useproxyport YES -sp OFF -cltTimeout 9000 -svrTimeout 9000 -CustomServerID "\"None\"" -CKA NO -TCPB NO -CMP NO 
add service USW1VAP-001-001 10.51.58.12 HTTP 80 -gslb NONE -maxClient 0 -maxReq 0 -cip DISABLED -usip NO -useproxyport YES -sp OFF -cltTimeout 180 -svrTimeout 360 -CKA NO -TCPB NO -CMP NO 
add service USW1VAP-001-002 10.51.59.12 HTTP 80 -gslb NONE -maxClient 0 -maxReq 0 -cip DISABLED -usip NO -useproxyport YES -sp OFF -cltTimeout 180 -svrTimeout 360 -CKA NO -TCPB NO -CMP NO 

add lb monitor LDAP-tenant001 LDAP -scriptName nsldap.pl -dispatcherIP 127.0.0.1 -dispatcherPort 3013 -password c92a021233957020e28935ef7ada -encrypted -LRTM ENABLED -baseDN "DC=tenant001,DC=glbl,DC=genprim,DC=com" -bindDN "CN=NetScaler LDAP Monitor,OU=Service Accounts,DC=tenant001,DC=glbl,DC=genprim,DC=com" -filter "(samaccountname=svc-nsldapmon)" 
add lb monitor mon-sf-USW1VAP-001-001 USER -scriptName nssf.pl -scriptArgs "hostname=http://10.51.58.12;acctservice=1;storename=tenant001;" -dispatcherIP 127.0.0.1 -dispatcherPort 3013 -LRTM ENABLED 
add lb monitor mon-sf-USW1VAP-001-002 USER -scriptName nssf.pl -scriptArgs "hostname=http://10.51.59.12;acctservice=1;storename=tenant001;" -dispatcherIP 127.0.0.1 -dispatcherPort 3013 -LRTM ENABLED 
add lb monitor ten001-http-sf HTTP -respCode 200 -httpRequest "GET /Citrix/tenant001/discovery" -customHeaders "Host: tenant001-ctx-int.genesyscloud.com\r\n" -LRTM ENABLED 
add lb monitor ten001-https-sf HTTP -respCode 200 -httpRequest "GET /Citrix/tenant001/discovery" -customHeaders "Host: tenant001-ctx-int.genesyscloud.com\r\n" -LRTM ENABLED -secure YES 


bind service tnt001-usw1adi-001-001 -monitorName LDAP-tenant001 
bind service tnt001-usw1adi-001-002 -monitorName LDAP-tenant001 

bind service USW1VAP-001-002 -monitorName mon-sf-USW1VAP-001-002 
bind service USW1VAP-001-002 -monitorName ten001-http-sf 
bind service USW1VAP-001-001 -monitorName mon-sf-USW1VAP-001-001 
bind service USW1VAP-001-001 -monitorName ten001-http-sf 

add lb vserver tnt001-ldap TCP 10.51.55.124 3901 -persistenceType SRCIPDESTIP -cltTimeout 9000 
add lb vserver tnt001-sf-int-2 HTTP 0.0.0.0 0 -persistenceType NONE -backupPersistenceTimeout 120 -lbMethod LEASTRESPONSETIME -cltTimeout 180 
add lb vserver tnt001-sf-int-1 HTTP 0.0.0.0 0 -persistenceType NONE -backupPersistenceTimeout 120 -lbMethod LEASTRESPONSETIME -cltTimeout 180 -backupVServer tnt001-sf-int-2 

bind lb vserver tnt001-ldap tnt001-usw1adi-001-002 
bind lb vserver tnt001-ldap tnt001-usw1adi-001-001 
bind lb vserver tnt001-sf-int-1 USW1VAP-001-001 
bind lb vserver tnt001-sf-int-2 USW1VAP-001-002 

bind policy patset ns_cvpn_default_inet_domains tenant001 
bind policy patset ns_cvpn_default_inet_domains tenant001-ctx-int.genesyscloud.com 
bind policy patset ns_cvpn_default_inet_domains tenant001-ctx.genesyscloud.com 
bind policy patset ns_cvpn_default_inet_domains tenant001.glbl.genprim.com 
bind policy patset ns_cvpn_default_inet_domains customercare-citrix.genesyscloud.com 

add authentication ldapAction tnt001-ldap -serverIP 10.51.55.124 -serverPort 3901 -ldapBase "DC=tenant001,DC=glbl,DC=genprim,DC=com" -ldapBindDn "CN=NetScaler LDAP Bind,OU=Service Accounts,DC=tenant001,DC=glbl,DC=genprim,DC=com" -ldapBindDnPassword cd2a165725947177a5db65f83fa896d67a -encrypted -ldapLoginName sAMAccountName -groupAttrName memberOf -subAttributeName cn -secType TLS -ssoNameAttribute sAMAccountName -passwdChange ENABLED -nestedGroupExtraction ON -groupNameIdentifier sAMAccountName -groupSearchAttribute memberOf -groupSearchSubAttribute CN 

add authentication ldapPolicy tnt001-ldap "REQ.HTTP.HEADER Host == \'tenant001-ctx.genesyscloud.com\' || REQ.HTTP.HEADER Host == \'customercare-citrix.genesyscloud.com\'" tnt001-ldap 

add cs action tnt001-sf-int-1 -targetLBVserver tnt001-sf-int-1 
add cs policy tenant001-ctx -rule "HTTP.REQ.HOSTNAME.SERVER.TO_LOWER.EQ(\"tenant001-ctx-int.genesyscloud.com\")||HTTP.REQ.HOSTNAME.SERVER.TO_LOWER.EQ(\"tenant001-ctx.genesyscloud.com\")||HTTP.REQ.HOSTNAME.SERVER.TO_LOWER.EQ(\"customercare-citrix.genesyscloud.com\")" -action tnt001-sf-int-1 

bind cs vserver global-web -policyName tenant001-ctx -priority 101 
bind cs vserver global-web-80 -policyName tenant001-ctx -priority 101

add vpn sessionAction tnt001-AGPlugin -ntDomain tenant001 -splitTunnel OFF -defaultAuthorizationAction ALLOW -icaProxy OFF -wihome "https://tenant001-ctx-int.genesyscloud.com/Citrix/tenant001Web" 
add vpn sessionAction tnt001-Receiver-for-Web -defaultAuthorizationAction ALLOW -SSO ON -homePage "https://tenant001-ctx-int.genesyscloud.com/Citrix/tenant001Web" -icaProxy ON -wihome "https://tenant001-ctx-int.genesyscloud.com/Citrix/tenant001Web" -citrixReceiverHome "https://tenant001-ctx-int.genesyscloud.com" -ntDomain tenant001 -clientlessVpnMode ON -storefronturl "https://tenant001-ctx-int.genesyscloud.com" 
add vpn sessionAction tnt001-NewReceiver -defaultAuthorizationAction ALLOW -SSO ON -icaProxy ON -wihome "https://tenant001-ctx-int.genesyscloud.com/Citrix/tenant001Web" -citrixReceiverHome "https://tenant001-ctx-int.genesyscloud.com" -ntDomain tenant001 -clientlessVpnMode OFF -clientlessModeUrlEncoding TRANSPARENT 
add vpn sessionAction tnt001-OldReceiver -defaultAuthorizationAction ALLOW -SSO ON -ssoCredential PRIMARY -icaProxy ON -wihome "https://tenant001-ctx-int.genesyscloud.com/Citrix/tenant001/PNAgent/config.xml" -ntDomain tenant001 -clientlessVpnMode OFF -clientlessModeUrlEncoding TRANSPARENT 

add vpn sessionPolicy tnt001-AGPlugin "REQ.HTTP.HEADER User-Agent NOTCONTAINS CitrixReceiver && REQ.HTTP.HEADER Referer NOTEXISTS && (REQ.HTTP.HEADER Host == \'tenant001-ctx.genesyscloud.com\' || REQ.HTTP.HEADER Host == \'customercare-citrix.genesyscloud.com\')" tnt001-AGPlugin 
add vpn sessionPolicy tnt001-Receiver-for-Web "REQ.HTTP.HEADER User-Agent NOTCONTAINS CitrixReceiver && REQ.HTTP.HEADER Referer EXISTS && (REQ.HTTP.HEADER Host == \'tenant001-ctx.genesyscloud.com\' || REQ.HTTP.HEADER Host == \'customercare-citrix.genesyscloud.com\')" tnt001-Receiver-for-Web 
add vpn sessionPolicy tnt001-NewReceiver "REQ.HTTP.HEADER User-Agent CONTAINS CitrixReceiver && REQ.HTTP.HEADER X-Citrix-Gateway EXISTS && (REQ.HTTP.HEADER Host == \'tenant001-ctx.genesyscloud.com\' || REQ.HTTP.HEADER Host == \'customercare-citrix.genesyscloud.com\')" tnt001-NewReceiver 
add vpn sessionPolicy tnt001-OldReceiver "REQ.HTTP.HEADER User-Agent CONTAINS CitrixReceiver && REQ.HTTP.HEADER X-Citrix-Gateway NOTEXISTS && (REQ.HTTP.HEADER Host == \'tenant001-ctx.genesyscloud.com\' || REQ.HTTP.HEADER Host == \'customercare-citrix.genesyscloud.com\')" tnt001-OldReceiver 

bind vpn vserver NG -staServer "http://10.51.58.12:8080/scripts/ctxsta.dll" 
bind vpn vserver NG -staServer "http://10.51.59.12:8080/scripts/ctxsta.dll" 
bind vpn vserver NG -policy tnt001-ldap -priority 101
bind vpn vserver NG -policy tnt001-Receiver-for-Web -priority 71 
bind vpn vserver NG -policy tnt001-OldReceiver -priority 81
bind vpn vserver NG -policy tnt001-NewReceiver -priority 91 
bind vpn vserver NG -policy tnt001-AGPlugin -priority 111